%nav
	%ol
		= nav_link 'Yet Emerging Technologies', '/', menu
		= nav_link 'tags', '/tags', menu
		= nav_link 'archives', '/archives', menu
		= nav_link 'about', '/about', menu
		= nav_link 'contact', '/contact', menu